/* 清除元素默认的内外边距 */
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f3f5f7;
}

button {
  border: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 清除浮动样式 */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}


/* 版心 1200 水平居中 */
.w {
  width: 1200px;
  margin: auto;
}

/* 头部部分开始 */
.header {
  height: 42px;
  /* background-color: pink; */
  margin: 30px auto;
}

.header .logo img {
  width: 194px;
  height: 42px;
}

.logo {
  float: left;
}

.nav {
  float: left;
  margin-left: 60px;
}

.nav li {
  float: left;
}

.nav ul li a {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin-right: 20px;
  padding: 0 10px;
  font-size: 18px;
  color: #050505;
}

.nav ul li a:hover {
  border-bottom: 2px solid #00a4ff;
}

.search {
  float: left;
  margin-left: 70px;
}

.search input {
  float: left;
  width: 340px;
  height: 40px;
  border: 1px solid #00a4ff;
  border-right: 0;
  line-height: 40px;
  padding-left: 20px;
  color: #ccc;
}

.search button {
  float: left;
  background: url(images/btn.png) no-repeat;
  width: 50px;
  height: 42px;
  border: 1px solid #00a4ff;
}

.user {
  float: left;
  height: 42px;
  line-height: 42px;
  margin-left: 30px;
  font-size: 14px;
  color: #666
}

.user img {
  height: 42px;

}

.user span {
  display: inline-block;
  height: 42px;
  line-height: 42px;
}

/* 头部部分结束 */


/*banner 部分开始*/
.banner {
  height: 420px;
  background: #1c036c url(images/banner2.jpg) repeat-y top center;
}


.subnav {
  float: left;
  width: 160px;
  height: 390px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px;
}

.subnav li {
  height: 45px;
  line-height: 45px;
  width: 100%;
}

.subnav li a {
  color: white;
  font-size: 14px;
}

.subnav li a:hover {
  color: #00a4ff;
}

.subnav li a span {
  float: right;
}

.course {
  float: right;
  width: 228px;
  height: 300px;
  background-color: white;
  margin-top: 50px;
}

.course-hd {
  height: 48px;
  line-height: 48px;
  text-align: center;
  color: rgb(194, 88, 88);
  font-size: 18px;
  font-weight: bold;
  background-color: #fae6c9;
}

.course-bd {
  padding: 0 15px;
}

.course-bd ul {
  padding-top: 10px;
}

.course-bd li {
  height: 50px;
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
}

.course-bd h4 {
  font-size: 16px;
  color: #4e4e4e
}

.course-bd p {
  font-size: 12px;
  color: #a5a5a5;
}

.all {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  text-align: center;
  width: 100%;
  border: 1px solid #00a4ff;
  margin-top: 5px;
}

.all:hover {
  background-color: #00a4ff;
  color: #fff;
}

/*banner 部分结束*/


/* goods 开始 */
.goods {
  height: 60px;
  line-height: 60px;
  background-color: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

.goods h3 {
  margin: 0 30px;
  font-size: 16px;
  color: #00a4ff;
  float: left;
}

.goods-item {
  float: left;
  margin-left: 15px;
  color: #bfbfbf;
}

.goods-item a {
  font-size: 16px;
  color: #050505;
  margin: 0 30px;
}

.mod {
  float: right;
  font-size: 14px;
  color: #00a4ff;
  margin-right: 30px;
}

/* goods 结束 */

/* box start */
.box {
  margin-top: 15px;
}

.box-hd {
  height: 60px;
  line-height: 60px;
}

.box-hd h3 {
  float: left;
  font-size: 20px;
  color: #494949;
  font-weight: normal;
}

.box-hd a {
  float: right;
  font-size: 12px;
  margin-right: 30px;
  color: #a5a5a5;
}

.box-bd {
  width: 1215px;
}

.box-bd li {
  float: left;
  width: 228px;
  height: 270px;
  margin-right: 15px;
  margin-bottom: 15px;
  color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

.box-bd li img {
  width: 100%;
}

.box-bd li h4 {
  margin: 25px 20px;
  font-size: 14px;
  color: #050505;
  font-weight: normal;
}

.box-bd li p {
  margin: 0 20px;
  font-size: 12px;
  color: #999;
}

.box-bd li span {
  color: orange;
}

/* box end */

.test {
  width: 1300px;
  height: 400px;
  background-color: #000;
}

/* 底部 start */
.footer {
  background-color: #fff;
  height: 385px;
  padding-top: 30px;
}

.copyright {
  float: left;
}

.footer .copyright p {
  font-size: 12px;
  color: #666;
  margin: 20px 0 15px 0;
}

.app {
  display: block;
  width: 118px;
  height: 34px;
  border: 1px solid #00a4ff;
  text-align: center;
  line-height: 34px;
  color: #00a4ff;
  font-size: 16px;
}

.links {
  float: right;
}


.links dt {
  height: 35px;
  font-size: 16px;
  color: #333;
}

.links dl {
  float: left;
  margin-left: 100px;
}

.links dd a {
  font-size: 12px;
  color: #333;
}

.links dd a:hover {
  color: #00a4ff;
}

/* 底部 end */